html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-link {
    transition: color 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease, font-weight 0.4s ease; /* Ulepszona animacja dla ró¿nych w³aœciwoœci */
    border: 2px solid transparent; /* Ustawia przezroczyste obramowanie */
    display: inline-block; /* Zapewnia p³ynne przejœcie dla w³aœciwoœci font-weight */
}

    .nav-link:hover {
        color: orangered !important; /* Zmienia kolor tekstu na czerwony po najechaniu */
        font-weight: bold; /* Pogrubienie tekstu */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Delikatnie wiêkszy cieñ dla lepszego efektu */
    }

    /* Klasa aktywnego linku, np. gdy u¿ytkownik jest na stronie */
    .nav-link.active {
        background-color: #343a40; /* Ciemne t³o dla aktywnego linku */
        color: white; /* Jasny kolor tekstu dla kontrastu */
    }
.header {
    text-align: center;
    font-weight: bold;
}