html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.nav-link {
    transition: all 0.3s ease; /* Dodaje p³ynn¹ animacjê do efektów */
    border: 2px solid transparent; /* Ustawia przezroczyste obramowanie, aby unikn¹æ przesuniêæ tekstu */
}

   .nav-link:hover {
        color: #0056b3; /* Zmienia kolor tekstu po najechaniu */
        background-color: #f8f9fa; /* Zmienia kolor t³a */
        border-color: #0056b3; /* Zmienia kolor obramowania */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Dodaje cieñ */
    }