@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdź rejestrację";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="confirmbutton">Kliknij tutaj aby potwierdzić rejestrację</a>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

