@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <title>Moja Mozaika LEGO</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: white;

        }


        #content {
            background-color: transparent;
            margin: auto;
            width: 100%;
            min-height: 90vh;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .image-section {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .image-description {
            width: 45%;
        }

            .image-description img {
                max-width: 100%;
                height: auto;
                border-radius: 8px;
            }

        .description {
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <div id="content">
        <div class="header">
        <h1>
            Witamy na naszej stronie poświęconej tworzeniu własnych obrazów z klocków LEGO!

        </h1>
        </div>
<p>Założyliśmy tę stronę z miłości do twórczości, sztuki i nieskończonych możliwości, jakie oferują klocki LEGO. Od dziesięcioleci klocki LEGO stanowią nie tylko źródło zabawy dla dzieci, ale także stały się narzędziem dla artystów, projektantów i entuzjastów tworzenia na całym świecie.

</p>
        <div class="header">
        <h3>
                Dlaczego mozaiki LEGO?

        </h3>
        </div>
                <div class="header">
<p>Mozaiki LEGO to wyjątkowy sposób na połączenie zabawy z artystycznym wyrazem. Są one nie tylko estetycznie piękne, ale także oferują wyjątkowe doświadczenie twórcze, łącząc elementy planowania, projektowania i realizacji wizji artystycznej. Tworzenie mozaiki LEGO to również wspaniała okazja do rozwijania zdolności przestrzennego myślenia, cierpliwości i koncentracji.



</p>
        </div>
        <div class="image-section">
            <div class="image-description">
                <p class="description">Obraz wgrany przez Ciebie</p>
                <img src="https://i.imgur.com/cqMfF2V.png" alt="Przykładowa Mozaika LEGO 1">
            </div>
            <div class="image-description">
                <p class="description">Jak będzie wyglądać po złożeniu</p>
                <img src="https://i.imgur.com/jS7gmnz.png" alt="Przykładowa Mozaika LEGO 2">
            </div>
            <div class="centered-button mt-5">
                <a class="buttonproduct" asp-action="CreateProduct">Zacznij teraz!</a>
            </div>
        </div>
    </div>
</body>
